@model IEnumerable<ControleDeMateriaisMVC.ViewModels.EstoqueViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Novo Estoque</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotaFiscal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotaFiscal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.IdProduto)
            </td>
            <td>
                <a asp-action="Edit"  class="btn btn-warning" p - 1 asp-route-id="@item.IdEstoque">Alterar</a> |
                    <a asp-action="Details" class="btn btn-primary" p - 1 asp-route-id="@item.IdEstoque">Detalhes</a> |
                    <a asp-action="Delete" class="btn btn-danger" p - 1 asp-route-id="@item.IdEstoque">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
